/* =========================================================
   GLOBAL BASE STYLES
   - Typography
   - Layout
   - Background
=========================================================== */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
               Helvetica, Arial, sans-serif;
  text-align: center;
  background: #ffffff;
  padding: 40px;
}

h1 {
  color: #222;
}

p {
  color: #555;
  max-width: 420px;
  margin: 10px auto;
}


/* =========================================================
   QR CODE CONTAINER
=========================================================== */

.qr {
  margin: 30px auto;
  width: 200px;
  height: 200px;
}


/* =========================================================
   PRIMARY BUTTON
=========================================================== */

a.button {
  display: inline-block;
  padding: 12px 20px;
  margin-top: 10px;
  background: #007aff;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 17px;
}


/* =========================================================
   NOTE TEXT
=========================================================== */

.note {
  margin-top: 25px;
  font-size: 15px;
  color: #444;
}


/* =========================================================
   STEP LIST
   - Left-aligned list inside a centered layout
=========================================================== */

.steps {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  max-width: 300px;
  padding-left: 1em;
}

.steps li {
  margin-bottom: 0.5em;
} 